<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>CloudOps Monitor</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">

<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>

<body>

<!-- SIDEBAR -->

<div class="sidebar">

    <div class="logo">
        <i class="fa-solid fa-cloud"></i>
        <span>CloudOps</span>
    </div>

    <ul>

        <li class="menu-item active" data-target="dashboard-section">
            <i class="fa-solid fa-chart-line"></i>
            <span>Dashboard</span>
        </li>

        <li class="menu-item" data-target="metrics-section">
            <i class="fa-solid fa-server"></i>
            <span>Metrics</span>
        </li>

        <li class="menu-item" data-target="alerts-section">
            <i class="fa-solid fa-bell"></i>
            <span>Alerts</span>
        </li>

        <li class="menu-item" data-target="containers-section">
            <i class="fa-solid fa-database"></i>
            <span>Containers</span>
        </li>

        <!-- <li class="menu-item" data-target="reports-section">
            <i class="fa-solid fa-file"></i>
            <span>Reports</span>
        </li> -->

    </ul>

</div>

<!-- MAIN CONTENT -->

<div class="main">

<!-- DASHBOARD -->

<div id="dashboard-section" class="page-section">

    <!-- TOPBAR -->

    <div class="topbar">

        <div>

            <h1>CloudOps Monitor Dashboard</h1>

            <p>Real-time server monitoring system...!!</p>

        </div>

        <div class="clock-box">

            <i class="fa-regular fa-clock"></i>

            <span id="clock"></span>

        </div>

    </div>

    <!-- CARDS -->

    <div class="cards">

        <div class="card cpu">

            <div>

                <h3>CPU Usage</h3>

                <h1>{{ cpu }}%</h1>

                <p>Real-time Processor</p>

            </div>

            <i class="fa-solid fa-microchip"></i>

        </div>

        <div class="card ram">

            <div>

                <h3>Memory Usage</h3>

                <h1>{{ memory }}%</h1>

                <p>RAM Monitoring</p>

            </div>

            <i class="fa-solid fa-memory"></i>

        </div>

        <div class="card disk">

            <div>

                <h3>Disk Usage</h3>

                <h1>{{ disk }}%</h1>

                <p>Storage Monitoring</p>

            </div>

            <i class="fa-solid fa-hard-drive"></i>

        </div>

        <div class="card network">

            <div>

                <h3>Network Usage</h3>

                <h1>{{ network }} MB</h1>

                <p>Live Traffic</p>

            </div>

            <i class="fa-solid fa-network-wired"></i>

        </div>

    </div>

    <!-- CHART -->

    <div class="chart-section">

        <div class="section-title">

            <h2>System Overview</h2>

            <button>Live</button>

        </div>

        <canvas id="myChart"></canvas>

    </div>

</div>

<!-- METRICS -->

<div id="metrics-section"
class="page-section"
style="display:none;">

    <div class="content-box">

        <h2>System Metrics</h2>

        <div class="metric-item">
            CPU Usage : {{ cpu }}%
        </div>

        <div class="metric-item">
            Memory Usage : {{ memory }}%
        </div>

        <div class="metric-item">
            Disk Usage : {{ disk }}%
        </div>

        <div class="metric-item">
            Network Usage : {{ network }} MB
        </div>

    </div>

</div>

<!-- ALERTS -->

<div id="alerts-section"
class="page-section"
style="display:none;">

    <div class="content-box">

        <h2>Recent Alerts</h2>

        <div class="alert red">

            <i class="fa-solid fa-triangle-exclamation"></i>

            <div>

                <strong>Disk usage high</strong>

                <p>{{ disk }}% usage detected</p>

            </div>

        </div>

        <div class="alert green">

            <i class="fa-solid fa-circle-check"></i>

            <div>

                <strong>Backup successful</strong>

                <p>System running properly</p>

            </div>

        </div>

        <div class="alert blue">

            <i class="fa-solid fa-circle-info"></i>

            <div>

                <strong>Monitoring active</strong>

                <p>CloudOps connected successfully</p>

            </div>

        </div>

    </div>

</div>

<!-- CONTAINERS -->

<div id="containers-section"
class="page-section"
style="display:none;">

    <div class="content-box">

        <h2>Container Status</h2>

        <div class="container-row">

            <div>
                <strong>cloudops-monitor</strong>
                <p>Main Monitoring App</p>
            </div>

            <span class="badge green-bg">
                Running
            </span>

        </div>

        <div class="container-row">

            <div>
                <strong>jenkins</strong>
                <p>CI/CD Pipeline</p>
            </div>

            <span class="badge green-bg">
                Running
            </span>

        </div>

    </div>

</div>

<!-- REPORTS -->

<!-- <div id="reports-section"
class="page-section"
style="display:none;">

    <div class="content-box">

        <h2>Reports</h2>

        <p>Daily monitoring reports available.</p>

    </div>

</div> -->

<!-- SETTINGS -->

<!-- <div id="settings-section"
class="page-section"
style="display:none;">

    <div class="content-box">

        <h2>Settings</h2>

        <p>CloudOps configuration panel.</p>

    </div>

</div> -->

</div>

<script>

const ctx = document.getElementById('myChart');

new Chart(ctx, {

    type: 'line',

    data: {

        labels: ['10m','20m','30m','40m','50m','60m'],

        datasets: [

        {
            label:'CPU',
            data:[12,19,15,22,18,25],
            borderColor:'#2563EB',
            tension:0.4
        },

        {
            label:'Memory',
            data:[30,40,35,50,45,55],
            borderColor:'#10B981',
            tension:0.4
        }

        ]
    }

});

function updateClock(){

    const now = new Date();

    document.getElementById("clock").innerHTML =
    now.toLocaleTimeString();
}

setInterval(updateClock,1000);

updateClock();

const menuItems = document.querySelectorAll(".menu-item");
const sections = document.querySelectorAll(".page-section");

menuItems.forEach(item => {

    item.addEventListener("click", () => {

        menuItems.forEach(i => i.classList.remove("active"));

        item.classList.add("active");

        const target = item.getAttribute("data-target");

        sections.forEach(section => {
            section.style.display = "none";
        });

        document.getElementById(target).style.display = "block";

    });

});

</script>

</body>
</html>
