<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>CloudOps Monitor</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">

<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>

<body>

<!-- SIDEBAR -->

<div class="sidebar">

    <div class="logo">
        <i class="fa-solid fa-cloud"></i>
        <span>CloudOps</span>
    </div>

    <ul>

        <li class="active">
            <i class="fa-solid fa-chart-line"></i>
            Dashboard
        </li>

        <li>
            <i class="fa-solid fa-server"></i>
            Metrics
        </li>

        <li>
            <i class="fa-solid fa-bell"></i>
            Alerts
        </li>

        <li>
            <i class="fa-solid fa-database"></i>
            Containers
        </li>

        <li>
            <i class="fa-solid fa-file"></i>
            Reports
        </li>

        <li>
            <i class="fa-solid fa-gear"></i>
            Settings
        </li>

    </ul>

</div>

<!-- MAIN -->

<div class="main">

    <!-- TOPBAR -->

    <div class="topbar">

        <div>

            <h1>CloudOps Monitor Dashboard</h1>

            <p>
                Real-time server monitoring system
            </p>

        </div>

        <div class="clock-box">

            <i class="fa-regular fa-clock"></i>

            <span id="clock"></span>

        </div>

    </div>

    <!-- CARDS -->

    <div class="cards">

        <div class="card cpu">

            <div>

                <h3>CPU Usage</h3>

                <h1>{{ cpu }}%</h1>

                <p>Real-time Processor</p>

            </div>

            <i class="fa-solid fa-microchip"></i>

        </div>

        <div class="card ram">

            <div>

                <h3>Memory Usage</h3>

                <h1>{{ memory }}%</h1>

                <p>RAM Monitoring</p>

            </div>

            <i class="fa-solid fa-memory"></i>

        </div>

        <div class="card disk">

            <div>

                <h3>Disk Usage</h3>

                <h1>{{ disk }}%</h1>

                <p>Storage Monitoring</p>

            </div>

            <i class="fa-solid fa-hard-drive"></i>

        </div>

        <div class="card network">

            <div>

                <h3>Network Usage</h3>

                <h1>{{ network }} MB</h1>

                <p>Live Traffic</p>

            </div>

            <i class="fa-solid fa-network-wired"></i>

        </div>

    </div>

    <!-- CHART -->

    <div class="chart-section">

        <div class="section-title">

            <h2>System Overview</h2>

            <button>Live</button>

        </div>

        <canvas id="myChart"></canvas>

    </div>

    <!-- LOWER GRID -->

    <div class="lower-grid">

        <!-- SYSTEM INFO -->

        <div class="info-box">

            <h2>System Information</h2>

            <div class="info-row">
                <i class="fa-solid fa-desktop"></i>
                <span>{{ hostname }}</span>
            </div>

            <div class="info-row">
                <i class="fa-brands fa-linux"></i>
                <span>{{ os }}</span>
            </div>

            <div class="info-row">
                <i class="fa-solid fa-clock"></i>
                <span>{{ time }}</span>
            </div>

        </div>

        <!-- ALERTS -->

        <div class="alerts">

            <div class="section-title">

                <h2>Recent Alerts</h2>

            </div>

            <div class="alert red">

                <i class="fa-solid fa-triangle-exclamation"></i>

                <div>

                    <strong>Disk usage high</strong>

                    <p>{{ disk }}% usage detected</p>

                </div>

            </div>

            <div class="alert green">

                <i class="fa-solid fa-circle-check"></i>

                <div>

                    <strong>Backup successful</strong>

                    <p>System running properly</p>

                </div>

            </div>

            <div class="alert blue">

                <i class="fa-solid fa-circle-info"></i>

                <div>

                    <strong>Monitoring active</strong>

                    <p>CloudOps connected successfully</p>

                </div>

            </div>

        </div>

    </div>

    <!-- CONTAINER -->

    <div class="container-section">

        <div class="section-title">

            <h2>Container Status</h2>

        </div>

        <div class="container-row">

            <div>
                <strong>cloudops-monitor</strong>
                <p>Main Monitoring App</p>
            </div>

            <span class="badge green-bg">
                Running
            </span>

        </div>

        <div class="container-row">

            <div>
                <strong>jenkins</strong>
                <p>CI/CD Pipeline</p>
            </div>

            <span class="badge green-bg">
                Running
            </span>

        </div>

        <div class="container-row">

            <div>
                <strong>docker-engine</strong>
                <p>Container Service</p>
            </div>

            <span class="badge blue-bg">
                Healthy
            </span>

        </div>

    </div>

</div>

<script>

const ctx = document.getElementById('myChart');

new Chart(ctx, {

    type: 'line',

    data: {

        labels: ['10m','20m','30m','40m','50m','60m'],

        datasets: [

        {
            label:'CPU',
            data:[12,19,15,22,18,25],
            borderColor:'#2563EB',
            tension:0.4
        },

        {
            label:'Memory',
            data:[30,40,35,50,45,55],
            borderColor:'#10B981',
            tension:0.4
        }

        ]
    }

});

function updateClock(){

    const now = new Date();

    document.getElementById("clock").innerHTML =

    now.toLocaleTimeString();
}

setInterval(updateClock,1000);

updateClock();

</script>

</body>
</html>